  <footer class="page-footer green darken-1">
    <div class="container">
      <div class="row">
        <div class="col s12 l12">
          <h5 class="white-text">Agenda de Contatos</h5>
          <p class="grey-text text-lighten-4">Aprendendo Node.js com o Livro: Aplicações Web Real Time com Nodejs.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Alan Pinhel de Souza
      </div>
    </div>
  </footer>